/x64 
/Debug
/Release 
.vs 
/GLUTTest/x64
/GLUTTest/Debug
/GLUTTest/Release
/GLWFTest/x64
/GLWFTest/Debug
/GLWFTest/Release
/GraphicLibsTest/x64
/GraphicLibsTest/Debug
/GraphicLibsTest/Release
/SDL2Test/x64
/SDL2Test/Debug
/SDL2Test/Release
/SFMLTest/x64
/SFMLTest/Debug
/SFMLTest/Release